/* here you can put your own css to customize and override the theme */
.margin-top-25{
    margin-top: 25px;
}
/* Form validation */
.parsley-error {
  border-color: #ff5d48 !important;
}
.parsley-errors-list {
  display: none;
  margin: 0;
  padding: 0;
}
.parsley-errors-list.filled {
  display: block;
}
.parsley-errors-list > li {
  font-size: 12px;
  list-style: none;
  color: #ff5d48;
  margin-top: 5px;
}
.table .btn{
  margin-right:0 !important;
}
.help-block{
  font-size: 11px;
}
.level-1{
  margin-left: 25px !important;
}
.tooltip {min-width:350px !important;}
td{
  vertical-align:middle !important; 
}
.bordernone{
  border: none !important;
}
.caption-seo {
  font-size: 13px;
  margin-top: 0.5em;
  line-height: 1.5em;
}

.portlet {
  margin-top: 25px !important;
  margin-bottom: 25px;
}

.seo-font-green{
  color: #006621;
}
.seo-font-blue{
  color: #1e0fbe;
}
.control-label{
  font-weight: bold;
}

.panel-collapse{
  border: 1px solid #ccc;
  border-top:none;
}
.dd3-content{
  margin: 5px 0 0 0;
}
.accordionborder{
  border: 1px solid #ddd;
}
.panel-heading {
  background: #fff;
}